Django>=5.0
djangorestframework
django-cors-headers
whitenoise
python-dotenv
alpaca-trade-api
yfinance
pandas
numpy
scikit-learn
xgboost
torch
matplotlib
plotly
ta
schedule
APScheduler
requests
beautifulsoup4
uvicorn
gunicorn
